header{
    margin-left: 50px;
    margin-right:  50px;
    nav{
        
        #div-header {
            background-color: lightblue;
            height: 150px;
            .a-principal{
                font-size: 50px;
            }
        }
    }
    
}
