#main-gym{
    border: 25px solid black;
    background-color: rgb(153, 113, 113);
    div{
        h2{
            
            text-align: center;
        }
        p{
            border: rgb(255, 255, 255) 1px dashed;
            font-size: 21px;
        }
        img{
            width: 550px;
            height: 400px;
        }   
    }  
}

    
